<div class='col-xs-12'>
  <%- flash.each do |type, message| %>
    <div class="alert alert-danger" role="alert" id="clearance_error">
      <button class="close">x</button>
      <%= message %>
    </div>
  <% end %>
</div>
