<tr>
  <td><%= @item.id %></td>
  <td><%= @item.style.type %></td>
  <td><%= @item.size %></td>
  <td><%= @item.color %></td>
  <td><% @item.status %></td>
  <td>
    <a href="#" id="remove_item">Remove</a>
  </td>
</tr>
